<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <%- partial('_partial/busuanzi') %>
            </div>
            <div class="col-sm-12">
                <span>
                    建站日期：2018-11-25
                </span>
                |
                <span>
                    网站备案号：<a href="http://www.miitbeian.gov.cn" class="copyright-links" target="_blank" rel="nofollow">豫ICP备18002049号</a>
                </span>
            </div>
        </div>
    </div>
</div>

<%- partial('_partial/script') %>
