@charset 'utf-8';
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: #22292C; */
    perspective: 1000px;
    background-image: -webkit-linear-gradient(90deg, #395ecb 0%, #3657be 25%, #242161 60%, #1a0531 100%);
    background-image: -moz-linear-gradient(90deg, #395ecb 0%, #3657be 25%, #242161 60%, #1a0531 100%);
    background-image: -ms-linear-gradient(90deg, #395ecb 0%, #3657be 25%, #242161 60%, #1a0531 100%);
    background-image: linear-gradient(0deg, #395ecb 0%, #3657be 25%, #242161 60%, #1a0531 100%);
}

.bg0 {
    width: 5rem;
    height: 5rem;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/bg0.png) no-repeat center center;
    background-size: 150%;
}
.bg0 img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0em 0em 5em #fff;
}

.hx-box {
    top: 20%;
    left: 50%;
    width: 15rem;
    height: 15rem;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) rotateY(75deg);
}

.hx-box ul {
    width: 15rem;
    height: 15rem;
    transform-style: preserve-3d;
    animation: hxz 20s linear infinite;
}

@keyframes hxz {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(-360deg);
    }
}

.hx-box ul li {
    width: 15rem;
    height: 15rem;
    border: 4px solid #5ec0ff;
    border-radius: 1000px;
}

.hx-box ul li span {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/hx.png) no-repeat center center;
    background-size: 100% 100%;
    animation: hx 4s linear infinite;
}

@keyframes hx {
    to {
        transform: rotate(360deg);
    }
}

.hx-k2 {
    transform: rotateX(60deg) rotateZ(60deg)
}

.hx-k3 {
    transform: rotateX(-60deg) rotateZ(-60deg)
}